<div class="v-centered full-padded">
  <div class="pure-g-r">
    <ng-form class="pure-u-1-3 pure-form pure-form-stacked segment h-centered">
      <h1>Welcome to Stream Sync</h1>
      <div>
        <div>
          <img src="img/ssIcon.png"></img>
        </div>
      </div>
      <fieldset class ="full-padded">
        <div class="fieldset">
          <div>
            <a href="#/login" class="full-padded pure-button button-lg"ng-click="existing()">Existing members</a>
          </div>
          <div><h5> </h5></div>
          <div>
            <a href="#/signup" class="full-padded pure-button button-lg">New members</a>
          </div> 
        </div>
      </fieldset>
    </ng-form>
  </div>
</div>
