<!-- Retrieves Main Navigation -->
<ng-include src="'angular/templates/nav/main.html'"></ng-include>

<!-- Login Form -->
<div class="v-centered">
  <div class="pure-g-r">
    <ng-form class="pure-u-1-3 pure-form pure-form-aligned segment" ng-submit="submit()">
      <fieldset>
        <legend>Login Credentials</legend>
        <div class="pure-control-group">
          <label>Username</label>
          <input type="text" placeholder="username" id="username-input" ng-model="username">
        </div>
        <div class="pure-control-group">
          <label>Password</label>
          <input type="password" placeholder="password" id="password-input" ng-model="password">
        </div>
        <div class="push-right default-v-padding">
          <button type="submit" class="pure-button" id="submit-button">Login</button>
          <span class="tabbed-left">or <a href="#/signup">Signup</a></span>
        </div>
      </fieldset>
    </ng-form>
  </div>
</div>
