<ng-include src="'angular/templates/nav/main.html'"></ng-include>

<div class = "content default-u-padding pure-g-r">
	<div class="pure-u-1-1">
		<h3> Hello, {{current_user.username}} </h3>
		<div class= "segment grid-item pure-u-1-1"
		data-hint="This is your set location." ng-class="hints ? 'hint--always hint--top' : 'hint--hidden'">
			<h4>Current city: {{current_user.loc}}</h4>
		</div>
	</div>
	<div class = "pure-u-1-1 pure-g pure-form push-center">
		<div class ="pure-u-2-3 push-left">
			<h2>Here are your hosted events:</h2> 
		</div>
		<fieldset class="pure-u-1-3">
			<div class="fieldset push-right push-down-light">
				<div class="input"
				data-hint="Search the events you are hosting." ng-class="hints ? 'hint--always hint--bottom' : 'hint--hidden'">
					<input ng-model="query" type = "text" placeholder="Filter">
				</div>
			</div>
		</fieldset>
	</div>
	<div class="pure-g-r full">
		<div class="pure-u-1-3" ng-repeat = "event in current_user_created_events | filter: query">
			<div class = "segment grid-item">
				<h4>{{event.name}}<h4>
				<h5>{{event.loc}}</h5>
        		<h5>{{event.datetime | date: "MM/dd/yyyy @ hh:mm a"}}</h5>
			</div>
		</div>
	</div>

  	<a href="#/event/create" class="pure-u-1-3 pure-button button-lg push-left">New Event</a>
  </div>


