<html>
<!--<head>
	<title>Create a new Event</title>
	<script LANGUAGE="JavaScript" SRC="/assets/angular/js/CalendarPopup.js"></script>
	<script LANGUAGE="JavaScript">
	var cal = new CalendarPopup();
	</script>
</head>-->
<form name="EventCreate" ng-controller="EventCreateCtrl">
	<h2>Create a new event!</h2>
	<input ng-model="eventName" type="text"> Event Name</input>

	<div>
		<h3>Select Date</h3>
		<input type="date" name="dateInput" ng-model="date" placeholder="2014-01-01" min="2014-01-01" required>
	</div>

	<div>
		<h3>Select Time</h3>
		<input type ="time" name="timeInput" ng-model="time" placeholder="8:00" required>
	</div>
	
	<div>
		<button ng-click="submit()">Submit</button>
	</div>
</form>
</html>

