<!doctype html>
<html lang="en">
<ng-include src="'angular/templates/nav/eventNav.html'"></ng-include>
<head>
  <meta charset="utf-8">
  <title>Stream Synce Events</title>
</head>
<body ng-controller="EventListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query" type="text">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Event Title</option>
          <option value="age">Newest</option>
          <option value="creator">Event Host</option>
          <option value="location">Event Location</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="Events">
          <li ng-repeat="event in events | filter:query | orderBy:orderProp">
            {{event.name}}
            <p>Hosted by {{event.creator}}</p>
            <p>Located at {{event.loc}}</p>
            <!--<p>At {{event.time}}</p>-->
          </li>
        </ul>

      </div>
    </div>
  </div>

  <a href="#/event/create">New Event</a>


</body>
</html>
