<!doctype html>
<html lang="en">
<ng-include src="'angular/templates/nav/eventNav.html'"></ng-include>
<head>
  <meta charset="utf-8">
  <title>Stream Synce Events</title>
</head>
<body ng-controller="EventListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query" type="text">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Event Title</option>
          <option value="date">Soonest</option>
          <option value="creator">Event Host</option>
          <option value="location">Event Location</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="Events">
          <li ng-repeat="event in events | filter:query | orderBy:orderProp">
            <h4>{{event.name}}</h4>
            <dl>
              <dt>Hosted by {{event.creator}}</dt>
              <dt>Located at {{event.loc}}</dt>
              <dt>Event on {{event.date | date: "MM/dd/yyyy"}}</dt>
              <dt> at {{event.time | date: "HH:mm"}}</dt>
            </dl>
            <!--<p>At {{event.time}}</p>-->
          </li>
        </ul>

      </div>
    </div>
  </div>

  <a href="#/event/create">New Event</a>


</body>
</html>
