<ng-include src="'angular/templates/nav/main.html'"></ng-include>

<div class="content default-u-padding pure-g-r">

  <div class="pure-u-7-24">
    <a href="#/event/create" class="full pure-button button-lg push-up-light">Create Event</a>
  </div>
  
  <div class="pure-u-2-3 pure-g pure-form push-right push-up-light">
    <fieldset>
      <div class="fieldset pure-u-2-3">
        <div class="input">
          <input ng-model="query" type="text" placeholder="query">
        </div>
      </div>
      <button class="pure-u-7-24 pure-button button-lg push-right">Search</button>
    </fieldset>
  </div>

  <ul>
    <li ng-repeat="event in events">
      <h4>{{event.eventName}}</h4>
      <dl>
        <dt>Hosted by {{event.creator}}</dt>
        <dt>Located at {{event.loc}}</dt>
      </dl>
      <!--<p>At {{event.time}}</p>-->
    </li>
  </ul>

</div>

<a href="#/event/create">New Event</a>
</div>

