// EM CALCULATOR

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

// DEFAULTS

$default-padding: 20;
$default-border-radius: 10;

// COLORS

$primary: #4fc1e9;
$secondary: #a3a7b0;
$secondary_light: #c5c9d0;
$secondary_dark: #e3e4e8;
$gray_bg: #f5f7f9;