@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* 
////////////////////\\\\\\\\\\\\\\\\\\\\
||||||||||| TABLE OF CONTENTS ||||||||||
\\\\\\\\\\\\\\\\\\\\////////////////////

0.0 STRUCTURE
--- 0.1.0 Relative Positioning
1.0 FORMS & INPUTS
--- 1.1.0 Custom Inputs
--- 1.2.0 Custom Buttons
2.0 CALLOUTS & MODALS
--- 2.1.0 Modal
*/


/* 0.0 STRUCTURE */

body {
	min-height: 100vh;
	min-width: 100vw;
}

/* 0.1.0 RELATIVE POSITIONING */

.vertical-center {
	margin: auto;
	position: absolute;
	top: 20%; left: 0; bottom: 0; right: 0; 
}

.push {
	display: block;
	.right { float: right; }
	.left { float: left; }
}

$tab-size: rem-calc(30);

.tabbed-left { padding-left: $tab-size; }
.tabbed-right { padding-right: $tab-size; }

.padded-row {
	@include grid-row();
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
}

/* 1.0 FORMS & INPUTS */

/* 1.1 CUSTOM INPUTS */

$input-large-radius: rem-calc(21);
$input-large-font-size: rem-calc(18);

input.large {
	font-size: $input-large-font-size;
	padding-top: $input-large-radius;
	padding-bottom: $input-large-radius;
}

.postfix.large,
.prefix.large {
	font-size: $input-large-font-size;
	height: $input-large-radius*2 + rem-calc(2);
	line-height: $input-large-radius*2;
}

/* 1.2 CUSTOM BUTTONS */

$icon-button-icon-padding: rem-calc(10);

.icon-button {
	@include button;

	i {
		padding-top: rem-calc(2);
	}

	i.left {
		padding-right: $icon-button-icon-padding;
	}

	i.right {
		padding-left: $icon-button-icon-padding;
	}
}

/* 2.0 CALLOUTS & MODALS */

/* 2.1.0 MODALS */

.close-reveal-modal.normal-link {
	color: $primary-color;
	position: static;
	font-size: inherit;
	font-weight: inherit;
}