@import "vars";
@import "pure";
@import "font-awesome";
@import "hint";

/*

///////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
||||||||||||| TABLE OF CONTENTS ||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////

0.0.0 GENERAL STYLING
--- 0.1.0 POSITIONG
--- --- 0.1.1 CENTERING
--- --- 0.1.2 PADDING
--- --- 0.1.3 ALIGNMENT
--- --- 0.1.4 TABS
--- 0.2.0 STYLING
--- --- 0.2.1 LINKS
1.0.0 ELEMENTS
--- 1.1.0 SEGMENTS
--- 1.2.0 FORM
--- 1.3.0 BUTTON
2.0.0 SPECIFIC
--- 2.1.0 PLAYBACK

*/

/* 0.0.0 GENERAL STYLING */

body, html {
	background: #f0f2f5;
}

/* 0.1.0 POSITIONG */

/* 0.1.1 CENTERING */

.h-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.v-centered {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    > div {
	    display: table-cell;
	    vertical-align: middle;
	}
}

/* 0.1.2 PADDING */

// vertical padding
@mixin v-padding($size: $default-padding) {
	padding-top: em($size);
	padding-bottom: em($size);
}

.default-v-padding {
	@include v-padding();
}

//horizontal padding
@mixin h-padding($size: $default-padding) {
	padding-left: em($size);
	padding-right: em($size);
}

.default-h-padding {
	@include h-padding();
}

//uniform padding
@mixin u-padding($size: $default-padding) {
	padding: em($size);
}

.default-u-padding {
	@include u-padding();
}

.full-padded {
	width: 80%;
	margin: 0 10%;
}

/* 0.1.3 ALIGNMENT */

.push-right {
	display: block;
	float: right;
}

.push-left {
	display: block;
	float: left;
}

.push-down-light {
	margin-top: em(20) !important;
}

.push-down {
	margin-top: em(40) !important;
}

.push-up-light {
	margin-bottom: em(20) !important;
}

.pull-up-light {
	margin-bottom: em(-20) !important;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.full {
	width: 100%;
}

/* 0.1.4 TABS */

.tabbed-left {
	margin-right: em(20);
}

/* 0.2.0 STYLING */

.hidden {
	visibility: hidden;
	display: none;
}

@mixin border-radius($rad: $default-border-radius) {
	-webkit-border-radius: em($rad);
	-moz-border-radius: em($rad);
	border-radius: em($rad);
}

@mixin box-shadow($h-shadow, $v-shadow, $spread, $color) {
	-webkit-box-shadow: em($h-shadow) em($v-shadow) em($spread) $color;
	-moz-box-shadow: em($h-shadow) em($v-shadow) em($spread) $color;
	box-shadow: em($h-shadow) em($v-shadow) em($spread) $color;
}

/* 0.2.1 LINKS */

a {
	&:hover {
		cursor: pointer;
	}
	&.no-style {
		color: inherit;
		text-decoration: none;
	}
}

/* 1.0.0 ELEMENTS */

/* 1.1.0 CONTAINERS */

.segment {
	background: #fff;
	@include box-shadow(0, 5, 0, $secondary_dark);

	&.pure-form {
		@include u-padding(20);
		max-width: 90%;
	}
}

.content {
	max-width: 700px;
	min-width: 270px;
	@extend .h-centered;
}

.grid-item {
	margin: em(10);
	@include v-padding(5);
	@include h-padding(20);
}

/* 1.2.0 FORM */

.pure-form {

	.footer {
		width: 100%;
		background: $gray_bg;
		margin: 0 em(-20) em(-33) em(-20);
		@include u-padding(20);
	}
}

.fieldset {
	&.padded {
		padding: em(10) 0 em(20) 0;
	}
}

label {
	@include v-padding(5);
	color: $secondary;
}

.input {

	input, select {
		width: 100%;
		border-color: #CCC;
	}
	&.icon-left {
		padding-left: em(50);
		margin-bottom: em(-40);

		i {
			position: relative;
			top: em(-50);
			left: em(-48);
			color: $secondary;
			background: $gray_bg;
			padding: em(14) em(17);
			border: 1px solid #CCC;
		}
	}
}

input[type="text"],
input[type="password"] {
	font-style: italic;
}

/* 1.3.0 BUTTONS */

.pure-button {
	background: $primary;
	color: #FFF;
	@include border-radius(3);

	&.button-lg {
		padding: em(10) em(20);
		font-weight: bold;
		font-size: em(18);
		text-transform: uppercase;

		&.button-secondary {
			padding: em(9) em(19);
			font-weight: normal;
		}
	}

	&.button-md {
		padding: em(7) em(15);
		font-weight: bold;
		font-size: em(12);
		text-transform: uppercase;

		&.button-secondary {
			padding: em(6) em(14);
			font-weight: normal;
		}
	}

	&.button-sm {
		padding: em(7) em(15);
		font-weight: bold;
		font-size: em(10);
		text-transform: uppercase;
	}

	&.button-secondary {
		background: transparent;
		color: $primary;
		border: 1px solid $primary;

		&.green {
			color: $green;
			border-color: $green;
		}
	}
}

a.pure-button.full {
	@include h-padding(0);
}

/* 1.4.0 NAVIGATION */

.nav-container {
	background: #FFF;
}

/* 2.0.0 SPECIFIC */

/* 2.1.0 PLAYBACK ELEMENTS */

.song-details {
	height: em(200);
	@include h-padding(20);
}

.play-controller {
	text-align: center;
}

.playlist-item {
	@include v-padding(10);
	@include h-padding(20);
	border-bottom: 1px solid #CCC;

	&.no-border {
		border-bottom: none;
	}

	span {
		display: block;

		&.title {
			display:block;
			font-weight: bold;
			font-size: 110%;
			margin-bottom: em(5);
		}

		&.artist {
			display: block;
			font-style: italic;
		}

		&.source {
			float: right;
			color: $secondary;
			margin-top: em(10);
		}
	}

	&.selectable {
		min-height: em(50);

		&:hover {
			cursor: pointer;
			background: $gray_bg;
		}
	}
}

.seek-bar {
	position: relative;
	height: em(50);

	.container {
		position: absolute;
		height: em(50);
		padding: 0 em(60);
		width: 100%;

		.outer {
			background: #CCC;

			.inner {
				height: em(50);
				width: 0%;
				pointer-events: none;
				background: #000;
			}
		}
	}

	.track-time {
		position: absolute;
		top: em(13);

		&.current {
			left: em(10);
		}

		&.duration {
			right: em(10);
		}
	}
}