<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/vendor/jquery.min.js"></script>
<script src="/linker/js/vendor/bootstrap.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
<!--STYLES END-->

<h1>Hello World <span class="glyphicon glyphicon-search"></span></h1>