/* CONTAINERS */
.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

#page_content { padding-top: 43px; }

.the.segment { margin-top: 60px !important; }

/* FONTS */ 
.muted { color: #AAA; }
.muted a { color: #888; }

/* EFFECTS */
.transparent { opacity: 0.9; }

/* GENERAL HELPERS */

.hidden {
	display: none;
}

.right.floated { float: right; }

.left.floated { float: left; }

.left.tabbed { margin-left: 15px; }

.right.tabbed { margin-right: 15px; }

.soft.padded {padding: 15px 15px;}

.relative.middle {position: relative; margin-right: auto; margin-left: auto;}

.absolute.middle{position: absolute; margin-right: auto; margin-left: auto;}

.main{
	margin: 1em 0 1em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;  
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 15%;
    color: white;
    box-shadow: 
        inset 0 0 0 1px rgba(53,86,129, 1), 
        inset 0 0 5px rgba(53,86,129, 1),
        inset -4px 0 35px white;

    background: #456	 no-repeat center left;
}
