<div class="full nav-container">
    <div class="pure-menu pure-menu-open pure-menu-horizontal content" ng-controller="NavCtrl">
        <a href="#/home" class="pure-menu-heading">Stream Sync</a>
        <ul>
            <li ng-class="base_path == 'event' ? 'pure-menu-selected' : ''"><a href="#/event/list">Events</a></li>
            <li ng-class="base_path == 'profile' ? 'pure-menu-selected' : ''"><a href="#/profile">Profile</a></li>
        </ul>
        <ul class="push-right">
            <li><a  ng-click="toggleHints()" data-hint="Click again to close hints." ng-class="hints ? 'hint--always hint--left' : 'hint--hidden'">
                    Help
                </a>
            </li>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</div>