<div class="full nav-container">
    <div class="pure-menu pure-menu-open pure-menu-horizontal content" ng-controller="NavCtrl">
        <a href="#" class="pure-menu-heading">Stream Sync</a>
        <ul>
            <li><a href="#/login">Login</a></li>
            <li ng-class="base_path == 'event' ? 'pure-menu-selected' : ''"><a href="#/event/list">Events</a></li>
            <li ng-class="base_path == 'profile' ? 'pure-menu-selected' : ''"><a href="#/profile">Profile</a></li>
        </ul>
        <a class="push-right" ng-click="logout()">Logout</a>
    </div>
</div>