<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->

<link rel="stylesheet" href="/css/front_page.css">
<link rel="stylesheet" href="/css/lobster_font.css">

<div class="container">
  <div class="ui middle aligned two column grid">
    <div class="row">
      <div class="column">
        <!-- <img class="ui image" src="/images/my-jar.png"> -->
      </div>
      <div class="column">
        <h1 class="ui lobster font header" id="main_title">Stream Sync</h1>
        <h3  class="header text" id="description_text">An easy way to start a flash mob!</h3>
        <div id="button_options">
          <a class="ui huge basic solid button" href="/signup">Signup</a>
          <span class="text" id="login_button">or <a href="/login">Login</a></span>
        </div>
      </div>
    </div>
  </div>
</div>