.control.buttons {
	width: 27%;
	text-align: center;
}

.control.button {
	width: 33%;
}

#seekbar {
	padding: 0;
	width: 70%;
	float: right;
}

#seekbar .outer {
	background: transparent;
	width: 100%;
	height: 45px;
}

#seekbar .outer:hover {
	cursor: pointer;
}

#seekbar .inner {
	/*position: absolute;*/
	background: #000;
	opacity: .3;
	width: 0;
	height: 100%;
}