<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="four wide column"></div>
<div class="eight wide column">
<form class="ui the form segment"  method="post" action="/a/uploader" enctype="multipart/form-data">
  <div class="field">
    <label>Song Name</label>
    <div class="ui left labeled icon input">
      <input name = "songName" type="text" placeholder="Song Name">
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Artist</label>
    <div class="ui left labeled icon input">
      <input name = "artistName" type="text" placeholder="Artist Name">
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div>
  <input type="file" name="upload">
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <button type="submit" class="ui blue submit button">Upload</button>
</form>

<div id="list_results"></div>

<%- partial('../site/partials/page_close') %>