<nav class="ui large fixed inverted transparent main menu">
  <div class="container">
    <a class="icon item" id="toggle_playlist"><i class="music icon"></i></a>
    <p class="text item"><%= user.username %></p>
  </div>
</nav>

