<div class="ui modal" id="create_event_modal">
  <i class="close icon"></i>
  <div class="header">
    Create Event
  </div>
  <div class="content">
    <form class="ui form" action="event/create" method="post">
		<div class="ui input">
	  		<input name="name" type="text" placeholder="Event Name">
	  	</div>
  </div>
  <div class="actions">
    <button type="submit" class="ui teal right labeled icon button"><i class="add icon"></i> Create Event</button>
    </form>
  </div>
</div>