<link rel="stylesheet" href="/css/search_results.css">

<div class="ui very wide styled sidebar" id="playlist">
	<form class="ui form">
		<div class="field">
		  <div class="ui left labeled icon input">
	        <input name="query" type="text" placeholder="Find New Music...">
	        <i class="search icon"></i>
	      </div>
		</div>
	</form>
	<div id="list_results"></div>
</div>
<div id="#result_added_sucess">

<script type="text/javascript" src="/js/client_search.js"></script>
<script type="text/javascript">
  $(function() {
    var input = $('input[name="query"]');
    var output = $('#list_results');
    var success = $('#result_added_success');
    poll_search(input, output, "verify_choice");
  });
</script>