<link rel="stylesheet" href="/css/search_results.css">

<div class="ui very wide styled sidebar" id="playlist">
	<form class="ui form">
		<div class="field">
		  <div class="ui left labeled icon input">
	        <input name="query" type="text" placeholder="Find New Music...">
	        <i class="search icon"></i>
	      </div>
		</div>
	</form>
	<div id="list_results"></div>
</div>

<div class="ui page dimmer" id="checking_dimmer">
  <div class="content">
    <div class="center"></div>
  </div>
</div>


<div id="track_checker" class="hidden"></div>

<script type="text/javascript" src="/js/tomahk_api.js"></script>
<script type="text/javascript" src="/js/client_search.js"></script>
<script type="text/javascript" src="/js/client_playlist.js"></script>
<script type="text/javascript">
  $(function() {
    var input = $('input[name="query"]');
    var output = $('#list_results');
    poll_search(input, output, '<%= playlist.id %>');
    subscribe('<%= playlist.id %>');
  });
</script>