<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->
<link rel="stylesheet" href="/css/search_results.css">

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="two wide column"></div>
<div class="twelve wide column">

  <div id="search_bar" class="ui form segment" action="search" method="post">
    <div class="field">
      <div class="ui left labeled icon input">
        <input name="query" type="text" placeholder="Search Query">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  <div id="list_results"></div>

  <!-- SEARCH ABOVE | FINALIZATION BELOW -->

  <div id="chosen_result" class="ui segment hidden"></div>

  <form id="time_picker" class="ui form segment hidden" action="/event/create" method="post">
  <div class="field">
      <label for="time" class="ui header">Event Name</label>
      <div class="ui left labeled icon input">
        <input name="name" type="text" placeholder="My Super Awesome Event">
        <i class="tag icon"></i>
      </div>
    </div>
    <div class="field">
      <label for="time" class="ui header">Choose Time</label>
      <div class="ui left labeled icon input">
        <input name="time" type="time" placeholder="Time">
        <i class="time icon"></i>
      </div>
    </div>
    <input name="artist_name" type="hidden" value="">
    <input name="track_name" type="hidden" value="">
    <div class="right floated">
      <button class="ui blue submit button" type="submit">Create Event</button>
    </div>
  </form>

</div>

<%- partial('../site/partials/page_close') %>

<script type="text/javascript" src="/js/client_search.js"></script>
<script type="text/javascript">
  $(function() {
    var input = $('input[name="query"]');
    var output = $('#list_results');
    poll_search(input, output, "display_choice");
  });

  function display_choice(artist_name, track_name, album_img) {
    var html = '<img class="image right floated" src="'+ album_img +'">';
    html += '<h2 class="ui header">'+ track_name;
    html += '<div class="sub header">'+ artist_name +'</div></h2>';
    $("#chosen_result").html(html);
    $('#search_bar').transition('fade up');
    $("#list_results").transition({
      animation:'fade up',
      complete: function() {
        $("#chosen_result").transition('fade up');
        $("#time_picker").transition('fade up');
        $('input[name="artist_name"]').val(artist_name);
        $('input[name="track_name"]').val(track_name);
      }
    });
  }
</script>


