<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->
<link rel="stylesheet" href="/css/search_results.css">

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="sixteen wide column">
	<form class="ui the form segment">
		<div class="ui fluid action input">
	  		<input type="text" placeholder="Event Name">
	  		<div class="ui teal right labeled icon button"><i class="add icon"></i> Create Event</div>
	  	</div>
	</form>
	<div class="ui horizontal divider">Or</div>
	<form class="ui form segment">
		<div class="ui fluid icon input">
	  		<input type="text" placeholder="Find Event">
	  		<i class="search icon"></i>
	  	</div>
	</form>
</div>

<%- partial('../site/partials/page_close') %>

<script type="text/javascript" src="/js/client_search.js"></script>
<script type="text/javascript">
  $(function() {

  });
</script>