<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->
<link rel="stylesheet" type="text/css" href="/css/playbar.css">

<%- partial('../site/partials/event_header') %>
<%- partial('../site/partials/page_open') %>

<div class="sixteen wide column">
  <div class="ui the segment">
    <div id="logs"></div>
    <div id="track"></div>
  </div>
  <div class="ui segment" id="controls">
    <div class="container">
      <div class="ui basic icon control buttons">
        <a class="ui control button" onclick="playTrack();"><i class="play icon"></i></a>
        <a class="ui control button" onclick="nextTrack();"><i class="step forward icon"></i></a>
      </div>
      <div class="item" id="seekbar">
        <div class="outer">
          <div class="inner"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('../site/partials/page_close') %>

<%- partial('../site/partials/playlist') %>


<script type="text/javascript" src="/js/playbar_control.js"></script>
<script type="text/javascript" src="/js/tomahk_api.js"></script>
<script type="text/javascript" src="/js/client_playlist.js"></script>
<script type="text/javascript">
  $(function() {
    control_sidebar();

    var outer = $('#seekbar .outer');
    var inner = $('#seekbar .inner');
    move_seekbar(outer, inner);
  });

  function control_sidebar() {
    $('#playlist').sidebar({'overlay': true});
    $('#playlist').sidebar('attach events', '#toggle_playlist', 'toggle');
    $(document).click(function(e){
        if (!$(e.target).closest('#playlist').length
          && !$(e.target).is('#toggle_playlist', '#toggle_playlist *')
          && !$('#checking_dimmer').dimmer('is active')) {
            $('#playlist').sidebar('hide');
        }
    });

  }
</script>

