<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="sixteen wide column">
  <div class="ui the segment">
    <div id="track"></div>
  </div>
  <div class="ui segment" id="controls">
    <a id="show_playlist">Show Playlist</a>
  </div>
</div>

<%- partial('../site/partials/page_close') %>

<%- partial('../site/partials/playlist') %>


<script type="text/javascript" src="/js/tomahk_api.js"></script>
<script type="text/javascript" src="/js/track_render.js"></script>
<script type="text/javascript">
  $(function() {
    $('#playlist').sidebar({overlay: true})
      .sidebar('show');
  });
</script>